<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
<!-- 질문이나 답변은 하나의 뭉치에 해당하므로 부트스트랩의 card 컴포넌트 사용, 부트스트랩 클래스 참조 -->
    <!-- 질문 -->
    <h2 class="border-bottom py-2" th:text="${question.subject}"></h2>
    <div class="card my-3">
        <div class="card-body">
        	<!-- style="white-space: pre-line;"은 글 내용의 줄 바꿈을 정상적으로 보여주기 위해 적용된 스타일 / 마크다운 문법으로 삭제 처리-->
            <!--th:utext는 th:text와 달리 이스케이프 처리를 하지 않고 출력, 이스케이프 처리를 한 경우 태그들이 그대로 화면에 보임 -->
            <div class="card-text" th:utext="${@commonUtil.markdown(question.content)}"></div>
            <div class="d-flex justify-content-end">
            	<!-- 질문 상세 화면에 질문 수정일시 추가 -->
            	<div th:if="${question.modifyDate != null}" class="badge bg-light text-dark p-2 text-start mx-3">
                	<div class="mb-2">modified at</div>
                	<div th:text="${#temporals.format(question.modifyDate, 'yyyy-MM-dd HH:mm')}"></div>
            	</div>
                <div class="badge bg-light text-dark p-2 text-start">
                	<div class="mb-2">
                    	<span th:if="${question.author != null}" th:text="${question.author.username}"></span>
                	</div>
                    <div th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd HH:mm')}"></div>
                </div>
            </div>
            <div class="my-3">
            	<!--추천 기능 : class 속성에 recommend를 추가하여 자바스크립트를 사용하여 data-uri에 정의된 URL 호출 => 추천 버튼을 눌렀을때 확인창을 통해 사용자의 확인을 구하기 위함 javascript:vode(0)-->
            	<a href="javascript:void(0);" class="recommend btn btn-sm btn-outline-secondary"
                	th:data-uri="@{|/question/vote/${question.id}|}">
                	추천
                	<span class="badge rounded-pill bg-success" th:text="${#lists.size(question.voter)}"></span>
            	</a>
            	<!-- 수정 버튼은 로그인한 사용자와 글쓴이가 동일한 경우에만 노출되도록 #authentication.getPrincipal().getUsername() == question.author.username을 적용 -->
            	<!-- #authentication.getPrincipal()은 Principal 객체를 리턴하는 타임리프의 유틸리티 -->
            	<a th:href="@{|/question/modify/${question.id}|}" class="btn btn-sm btn-outline-secondary"
                	sec:authorize="isAuthenticated()"
                	th:if="${question.author != null and #authentication.getPrincipal().getUsername() == question.author.username}"
                	th:text="수정"></a>
                <!-- href 속성값을 javascript:void(0)로 설정, 삭제를 실행할 URL을 얻기 위해 th:data-uri 속성 추가, 삭제 버튼이 눌리는 이벤트 확인을 위해 class속성에 delete 항목 추가-->
                <!-- data-uri 속성은 자바스크립트에서 클릭 이벤트 발생시 this.dataset.uri와 같이 사용하여 그 값을 얻을 수 있다. -->
                <!-- href에 삭제 URL을 직접 사용하지 않은 이유는 삭제 버튼을 클릭했을 때 "정말로 삭제하시겠습니까?"와 같은 확인절차가 필요하기 때문 -->
                <a href="javascript:void(0);" th:data-uri="@{|/question/delete/${question.id}|}"
                	class="delete btn btn-sm btn-outline-secondary" sec:authorize="isAuthenticated()"
                	th:if="${question.author != null and #authentication.getPrincipal().getUsername() == question.author.username}"
                	th:text="삭제"></a>
        	</div>
        </div>
    </div>
    <!-- 답변의 갯수 표시, #lists.size(iterable 객체)는 타임리프가 제공하는 유틸리티로 객체의 길이 반환 -->
    <h5 class="border-bottom my-3 py-2" 
        th:text="|${#lists.size(question.answerList)}개의 답변이 있습니다.|"></h5>
    <!-- 답변 반복 시작 -->
    <div class="card my-3" th:each="answer, loop : ${paging}">
        <!-- 답변 작성 및 수정 시 앵커 태그를 추가하여 URL 호출 시 원하는 위치로 이동, 앵커 태그의 id 속성은 유일한 값이어야 하므로 answer_{{ answer.id }}같이 답변 id 사용-->
        <a th:id="|answer_${answer.id}|"></a>
        <div class="card-body">
            <!--th:utext는 th:text와 달리 이스케이프 처리를 하지 않고 출력, 이스케이프 처리를 한 경우 태그들이 그대로 화면에 보임 -->
            <div class="card-text" th:utext="${@commonUtil.markdown(answer.content)}"></div>
            <div class="d-flex justify-content-end">
            	<!-- 질문 상세 화면에 답변 수정일시 추가 -->
            	<div th:if="${answer.modifyDate != null}" class="badge bg-light text-dark p-2 text-start mx-3">
                	<div class="mb-2">modified at</div>
                	<div th:text="${#temporals.format(answer.modifyDate, 'yyyy-MM-dd HH:mm')}"></div>
            	</div>
                <div class="badge bg-light text-dark p-2 text-start">
                	<div class="mb-2">
                    	<span th:if="${question.author != null}" th:text="${question.author.username}"></span>
                	</div>
                    <div th:text="${#temporals.format(answer.createDate, 'yyyy-MM-dd HH:mm')}"></div>
                </div>
            </div>
            <div class="my-3">
            	<!--추천 기능 : class 속성에 recommend를 추가하여 자바스크립트를 사용하여 data-uri에 정의된 URL 호출 => 추천 버튼을 눌렀을때 확인창을 통해 사용자의 확인을 구하기 위함 javascript:vode(0)-->
            	<a href="javascript:void(0);" class="recommend btn btn-sm btn-outline-secondary"
                	th:data-uri="@{|/answer/vote/${answer.id}|}">
                	추천
                	<span class="badge rounded-pill bg-success" th:text="${#lists.size(answer.voter)}"></span>
            	</a>
            	<!-- 수정 버튼은 로그인한 사용자와 글쓴이가 동일한 경우에만 노출되도록 #authentication.getPrincipal().getUsername() == answer.author.username을 적용 -->
            	<!-- #authentication.getPrincipal()은 Principal 객체를 리턴하는 타임리프의 유틸리티 -->
            	<a th:href="@{|/answer/modify/${answer.id}|}" class="btn btn-sm btn-outline-secondary"
                	sec:authorize="isAuthenticated()"
                	th:if="${answer.author != null and #authentication.getPrincipal().getUsername() == answer.author.username}"
                	th:text="수정"></a>
                <!-- href 속성값을 javascript:void(0)로 설정, 삭제를 실행할 URL을 얻기 위해 th:data-uri 속성 추가, 삭제 버튼이 눌리는 이벤트 확인을 위해 class속성에 delete 항목 추가-->
                <!-- data-uri 속성은 자바스크립트에서 클릭 이벤트 발생시 this.dataset.uri와 같이 사용하여 그 값을 얻을 수 있다. -->
                <!-- href에 삭제 URL을 직접 사용하지 않은 이유는 삭제 버튼을 클릭했을 때 "정말로 삭제하시겠습니까?"와 같은 확인절차가 필요하기 때문 -->
                <a href="javascript:void(0);" th:data-uri="@{|/answer/delete/${answer.id}|}"
                	class="delete btn btn-sm btn-outline-secondary" sec:authorize="isAuthenticated()"
                	th:if="${answer.author != null and #authentication.getPrincipal().getUsername() == answer.author.username}"
                	th:text="삭제"></a>
        	</div>
        </div>
    </div>
    <!-- 답변 반복 끝  -->
    <!-- 페이징처리 시작 -->
    <div th:if="${!paging.isEmpty()}">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
                <a class="page-link"
                    th:href="@{|?page=${paging.number-1}|}">
                    <span>이전</span>
                </a>
            </li>
            <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
            	th:if="${page >= paging.number-5 and page <= paging.number+5}"
                th:classappend="${page == paging.number} ? 'active'" 
                class="page-item">
                <a th:text="${page}+1" class="page-link" th:href="@{|?page=${page}|}"></a>
            </li>
            <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
                <a class="page-link" th:href="@{|?page=${paging.number+1}|}">
                    <span>다음</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- 페이징처리 끝 --> 
    <!-- 답변 작성 -->
    <!-- 답변등록 버튼을 누르면 전송되는 form의 action은 타임리프의 th:action 속성으로 생성 -->
    <!-- 답변등록 버튼을 누르면 POST 방식으로 /answer/create/<질문id> URL이 호출 -->
    <!-- AnswerForm을 통해 검증하므로 th:object 속성 추가, th:field 속성을 사용하여 오류가 발생하더라도 내용 유지 -->
    <form th:action="@{|/answer/create/${question.id}|}" th:object="${answerForm}" method="post" class="my-3">
        <!-- th:replace 속성을 사용하면 공통 템플릿을 템플릿 내에 삽입 가능, 아래 문장의 의미는 div 엘리먼트를 form_errors.html 파일의 th:fragment 속성명이 formErrorsFragment인 엘리먼트로 교체하라는 의미 -->
        <div th:replace="form_errors :: formErrorsFragment"></div>
        <!-- 로그인 상태가 아닌 경우 textarea 태그에 disabled 속성을 적용하여 입력을 못하게 함, sec:authorize="isAnonymous()" : 현재 로그아웃 상태, sec:authorize="isAuthenticated()" : 현재 로그인 상태-->
        <textarea sec:authorize="isAnonymous()" disabled th:field="*{content}" class="form-control" rows="10"></textarea>
        <textarea sec:authorize="isAuthenticated()" th:field="*{content}" class="form-control" rows="10"></textarea>
        <input type="submit" value="답변등록" class="btn btn-primary my-2">
    </form>
</div>
<script layout:fragment="script" type='text/javascript'>
//delete 클래스를 포함하는 컴포넌트(ex:버튼, 링크)를 클릭하면 "정말로 삭제하시겠습니까?"라는 질문을 하고 "확인"을 선택했을때 해당 컴포넌트의 data-uri값으로 URL 호출을 하라는 의미
//확인 대신 취소를 선택하면 아무 일도 발생하지 않는다. 확인을 선택하면 data-uri속성에 해당하는 @{|/question/delete/${question.id}|}이 호출
const delete_elements = document.getElementsByClassName("delete");
Array.from(delete_elements).forEach(function(element) {
    element.addEventListener('click', function() { 
        if(confirm("정말로 삭제하시겠습니까?")) {
            location.href = this.dataset.uri;
        };
    });
});
const recommend_elements = document.getElementsByClassName("recommend");
Array.from(recommend_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        if(confirm("정말로 추천하시겠습니까?\n(이미 추천되어있다면 추천이 취소가 됩니다.)")) {
            location.href = this.dataset.uri;
        };
    });
});
</script>
</html>